html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 

body {
  font-size: 16px;
  font-family: Verdana, sans-serif; 
}

header, nav, main, footer { 
  max-width: 960px;
  margin: 0 auto;
}

header, main, footer {
    text-align: left;
}

header {    
   background-color: #46a8c8;     
}

header h1 {
    color: #ff8300;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.subheading {
    color: #ffffff;
    text-align: center;
}

h1, h2 {
    font-family: "Mitr", sans-serif;
    color: #1e0d98;
}


header img {
    width: 85px;
    float: left;
    border: 3px solid orange;
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    background-color: #ffda53;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;   
    padding: .8rem 2%;
    color: black;
    text-decoration: none;
    border-top:1px solid rgba(0,0,0,0.5);
}

nav ul li.active a{background-color: rgba(0,0,0,0.1);}
li a:hover {background-color: #ff8300;}

nav ul.hide {display: none;}

main {}
main h2 {}
main figure.hero { margin: 0 0; width:100%; }

main figure.hero img { 
  width: 100%; 
}
/*-----STORM CENTER--------*/
figure.storm { margin: 0 0; width:100%; }

figure.storm img { 
  width: 100%;
  opacity: 0.85;
}


form fieldset {
    margin: 1.5rem 0;
    border: 1px solid #2f34c4;
    border-radius: 15px;
    padding: .5rem 4%;
    background-color: #fcf79f;
}

form legend {
    color: #2f34c4;
    display: block;
}

form input, form select {
    display: block;
    border: 1px solid;
    background-color: #d5d6f2;
}

form .sub-button {
    background-color: #ff8300;
    box-shadow: 10px 10px 10px #9fa2fc;
    border-radius: 10px;
    width: 96%;
    max-width: 20rem;
    padding: .7rem 1.2rem;
}

/*----THANKS-----*/
.thanks {text-align: center;}

#thanks-card {width: 60%;}

/*---FORECAST-----*/
.forecast { display:none; }

.town-article { width: 100%; }

#sun { width: 50%; }

#cowboy { width: 100%;}

footer {
    font-size: .85rem;
    background-color: #ffda53;
}

.footer-bar {
    text-align: center;
    padding: .5rem;
}

/*----GALLERY------------*/
.gallery img {width: 95%;}

.clearfix:after {
    content: ""; 
    display: table;
    clear: both;
}